angle-knob {
    width: 20vw;
    height: 20vw;
    border: 2px solid #e8454571;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    > .cursor {
        pointer-events: none;
        height: 100%;
        width: fit-content;
        padding: 5px 0;
        box-sizing: border-box;
        transform: rotate(var(--Angle));
        > .head {
            width: 12px;
            height: 12px;
            background-color: #e84545;
            border-radius: 50px;
        }
    }
    > input {
        position: absolute;
        width: 48px;
    }
}
