angle-knob {
    --angle-knob-size: 20vw;

    width: var(--angle-knob-size);
    height: var(--angle-knob-size);
    border: 2px solid #e8454571;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    > .cursor {
        pointer-events: none;
        height: 100%;
        width: fit-content;
        padding: 5px 0;
        box-sizing: border-box;
        transform: rotate(var(--Angle));
        > .head {
            width: 12px;
            height: 12px;
            background-color: #e84545;
            border-radius: 50px;
        }
    }
    > input {
        position: absolute;
        width: 48px;
    }

    @media (max-width: 920px) {
        --angle-knob-size: 40vw;
    }
    @media (max-width: 620px) {
        --angle-knob-size: 45vw;
    }
    @media (max-width: 480px) {
        --angle-knob-size: 50vw;
    }
    @media (max-width: 360px) {
        --angle-knob-size: 60vw;
    }
    @media (max-width: 290px) {
        --angle-knob-size: 70vw;
    }
    @media (max-width: 220px) {
        > input {
            display: none;
        }
    }
}
