coriander-generator {
    display: block;
    background-image: linear-gradient(45deg, #164eac, #2f6d2e);
    width: 100%;
    border-radius: 12px;
    padding: 75px 0;
    text-align: center;

    border-radius: 12px;
    border-width: 1px;
    border-color: #424242;
    border-style: solid;
    
    > h1, > h3 {
        text-shadow: rgba(0, 0, 0, 0.9487) 0 0 24px;
    }

    > .code {
        display: flex;
        justify-content: center;
        gap: 4px;
        margin: 10px 0;
        > button {
            padding: 10px 12px;
            border-radius: 6px;
        }
    }
}
