toast-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1145;
    pointer-events: none;
    padding-top: 12px;

    .toast {
        margin: 8px auto;
        width: fit-content;
        padding: 10px 14px;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        overflow: hidden;

        transition: 
            background-color 0.25s ease-in-out,
            border-color 0.25s ease-in-out,
            transform 0.3s ease-in-out;

        background-color: #232323;
        border-radius: 12px;
        border-width: 1px;
        border-color: #424242;
        border-style: solid;

        &.PoppingIn {
            animation: PopIn 0.35s ease-in-out;
            animation-fill-mode: forwards;
            @keyframes PopIn {
                0% {
                    transform: scale(0.75) translateY(-20px);
                    opacity: 0;
                }
                100% {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                }
            }
        }

        &.PoppingOut {
            transition: margin-top 0.35s ease-in-out;
            animation: PopOut 0.35s ease-in-out;
            animation-fill-mode: forwards;
            @keyframes PopOut {
                0% {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                }
                100% {
                    transform: scale(0.75) translateY(-20px);
                    opacity: 0;
                }
            }
        }


        .symbol {
            margin-right: 8px;
        }

    }
}
