toast-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1145;
    pointer-events: none;
    padding-top: 12px;

    .toast {
        margin: 8px auto;
        width: fit-content;
        padding: 10px 14px;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        overflow: hidden;

        transition: 
            background-color 0.25s ease,
            border-color 0.25s ease,
            transform 0.3s ease;

        background-color: #232323;
        border-radius: 12px;
        border-width: 1px;
        border-color: #424242;
        border-style: solid;

        animation: InAndEnd 2s ease;
        animation-fill-mode: forwards;

        @keyframes InAndEnd {
            0% {
                transform: scale(0.75) translateY(-20px);
                opacity: 0;
            }
            20% {
                transform: scale(1) translateY(0px);
                opacity: 1;
            }
            80% {
                transform: scale(1) translateY(0px);
                opacity: 1;
            }
            99% {
                transform: scale(0.75) translateY(-20px);
                opacity: 0;

                margin: 8px auto;
                padding: 10px 14px;
                height: auto;
            }
            100% {
                transform: scale(0.75) translateY(-20px);
                opacity: 0;

                margin: 0 auto;
                padding: 0;
                height: 0;
            }
        }

        .symbol {
            margin-right: 8px;
        }

    }
}
