---
---
<div class="settings">
    <h3>Color Used</h3>
    <div class="Colors">
        <span><rect style="background-color: #ffffff"></rect> #ffffff<span>
        <span><rect style="background-color: #ffffff"></rect> #ffffff<span>
    </div>
</div> 

<script lang="javascript">
    document.addEventListener("NewGradients", function () {
        let ColorArray = RGP.Current.ColorArray;
        document.querySelector("div.Colors").innerHTML = "";
        for ( let i=0; i<ColorArray.length; i++ ) {
            let Div = document.createElement("div");
            let Rect = document.createElement("rect");
            Rect.style.backgroundColor = ColorArray[i];
            Div.append(Rect)
            Div.innerHTML += "&nbsp;" + ColorArray[i];
            document.querySelector("div.Colors").append(Div)
        }
    })
</script>

<style lang="scss">
    div.settings {
        width: 50%;
        flex: .5;
    }
</style>
<style lang="scss" is:global>
    div.settings > div.Colors > div {
        display: flex;
        align-items: center;
        padding: 0 75px;
        font-family: "JetBrains Mono", monospace, sans-serif;
        > rect {
            display: inline-block;
            height: 14px;
            width: 14px;
            border-style: solid;
            border-color: #000000;
            border-width: 3px;
        }
    }

</style>