---
import IconRefersh from "@icons/arrows-rotate.astro"
---
<div class="settings">
    <h3>Settings</h3>
    <table>
        <tr>
            <td>Degree: </td>
            <td><input id="degree" type="number" placeholder="Degree" /></td>
        </tr>
        <tr>
            <td>Color Count: </td>
            <td><input id="ColorCount" type="number" placeholder="Color Count" /></td>
        </tr>
    </table>
    <br/>
    <!-- <p>Process: <span id="ProcessNow">?</span>/<span id="ProcessTotal">?</span></p> -->
    <button><IconRefersh/>&nbsp;Gen</button>
</div>

<script lang="javascript">
    document.querySelector("input#ColorCount").value = "2";
    document.querySelector("input#degree").value = "45";

    document.querySelector("#degree").addEventListener("keyup", function () {
        if (this.value > 360 || this.value < -360) {
            this.value = this.value > 360 ? 360 : -360;
        }
        RGP.CurrentDegree = parseInt(this.value);
        document.dispatchEvent(new CustomEvent("RGP_NewDegree"))
    })



    document.querySelector("div.settings > button").addEventListener("click", function () {
        RGP.run (
            document.querySelector("input#ColorCount").value,
            document.querySelector("input#degree").value
        )
    })
</script>


<style lang="scss">
    div.settings {
        width: 50%;
        flex: .5;
    }
    table {
        margin: 0 auto;
        tr td:first-child() {
            text-align: left;
            padding-right: 8px
        }
    }
</style>