---
import Main from "@layouts/main.astro";
import { Icon } from "astro-icon";
---

<Main role="contents">
    <p class="Title">Favorites</p>

    <div class="GradientCon Prototype">
        <div class="Gradient">
            <div class="Preview"></div>
            <div class="Desc">
                <p class="Code">linear-gradient(45deg, #91e9c3, #eaaa8e)</p>
                <p class="Date">2077/07/07</p>
            </div>
        </div>
        <div class="buttons">
            <button class="circle" data-role="copy" onclick="Coriander.copy(this);">
                <Icon name="heroicons:document-duplicate" />
            </button>
            <button class="circle" data-role="delete" onclick="Coriander.remove(this);">
                <Icon name="heroicons:x-mark" />
            </button>
        </div>
    </div>

    <div class="FavoriteCon">

    </div>
</Main>

<script src="../assets/js/favo.js"></script>

<style lang="scss">
    p.Title {
        width: 80%;
        margin: 30px auto;
        font-size: x-large;
    }

    div.GradientCon {
        display: flex;
        //margin: 0 auto;
        justify-content: center;
        margin-bottom: 24px;
        &.Prototype {
            display: none;
        }
    }

    div.buttons {
        writing-mode: vertical-lr;
        margin: auto 10px;
        display: flex;
        gap: 8px;
    }

    div.Gradient {
        width: 80%;
        max-width: 850px;
        background-color: #303030;
        margin-left: 40px;

        border-radius: 12px;
        border-width: 1px;
        border-color: #424242;
        border-style: solid;

        overflow: hidden;

        .Preview {
            //background-image: linear-gradient(45deg, #91e9c3, #eaaa8e);
            height: 175px;
            width: 100%;
        }
        .Desc {
            padding: 16px 18px;
            p.Code {
                word-break: break-all;
            }
            p.Date {
                font-size: smaller;
                opacity: 0.65;
            }
        }
    }
</style>
