---
import Main from "@layouts/main.astro"

import CorianderMain from "@components/main.astro"
import ToastNofication from "@components/ToastNofication.astro";
---
<Main>
	<script src="../assets/js/main.js"></script>
	<ToastNofication />
	<CorianderMain />
</Main>