---
import "@styles/components/angle-knob.scss";
---
<angle-knob>
    <div class="cursor" style="--Angle: 45deg">
        <div class="head"></div>
    </div>
    <input id="angle-value" type="number" min="-360" max="360" />
</angle-knob>

<script src="@scripts/components/angle-knob"></script>
