---
import "@styles/components/color-settings.scss";
---

<color-settings>
    Colors:
    <input id="ColorCount" type="number" placeholder="Color Count" value="2" />
    <div class="Colors"></div>
    <div class="ColorPreview prototype">
        <rect></rect>
        <span></span>
    </div>
</color-settings>

<script src="@scripts/components/color-settings"></script>
