---
import Settings from "@components/@footer/Settings.astro"
import Preview from "@components/@footer/Preview.astro"
import ColorUsed from "@components/@footer/ColorUsed.astro"
---

<footer>
    <div class="main">
        <ColorUsed />
        <Settings />
        <Preview />
    </div>
    <!-- <div class="status">

    </div> -->
</footer>

<style lang="scss">
    footer {
        width: 100%;
        overflow: clip;
        .main {
            // scroll-snap-type: x mandatory;
            // scroll-snap-align: center;
            width: 300%;
            display: flex;
            justify-content: space-around;

            transition: transform 0.5s ease;
            transform: translateX(-33.33333333%);
        }
    }
</style>
