---
import Settings from "@components/@footer/Settings.astro"
import Preview from "@components/@footer/Preview.astro"
import ColorUsed from "@components/@footer/ColorUsed.astro"
---

<footer class="contents">
    <div class="main">
        <Settings />
        <ColorUsed />
    </div>
        <Preview />
</footer>

<style lang="scss">
    footer {
        width: 80%;
        max-width: 1000px;
        .main {
            display: flex;
            justify-content: space-between;
        }
    }
</style>
