---
import "@styles/components/header.scss";
---
<header>
    <span class="logo">
        <a href="/">Coriander</a>
    </span>
    <span class="links">
        <span>
            <a href="/favo">Favorites</a>
        </span>
        <span>
            <a href="https://github.com/kobe-koto/Coriander">Open Source</a>
        </span>
    </span>
</header>
