---
import Footer from "@components/Footer.astro"

import { Icon } from "astro-icon";
---


<main>
    <div data-role="placeholder"></div>
    <div class="intro">
        <h2>Coriander</h2>
        <h3>Yet another Random Gradients Picker</h3>
        <code>background-image: linear-gradient(45deg, #91e9c3, #eaaa8e);</code>
        <br>
        <button data-role="copy"><Icon name="heroicons:document-duplicate" />&nbsp;Copy</button>&nbsp;&nbsp;
        <button data-role="add"><Icon name="heroicons:star" />&nbsp;Add</button>
    </div>
    <Footer />
</main>


<script lang="javascript">
    let CopyBtn = document.querySelector("div.intro > button[data-role=\"copy\"]"),
        AddBtn = document.querySelector("div.intro > button[data-role=\"add\"]");

    CopyBtn.addEventListener("click", function () {
        if (!navigator.clipboard) {
            Toast.new("warn", "The navigator.clipboard API couldn't be found.")
            return;
        }
        navigator.clipboard.writeText(document.querySelector("div.intro > code").innerText)
            .then(function () {
                Toast.new("check", "Succ to Copy CSS Code")
            })
            .catch(function (err) {
                Toast.new("error", "Error in copying text.")
            });
    })

    AddBtn.addEventListener("click", function () {
        RGP.Push2DB({Degree: RGP.CurrentDegree, ColorArray: RGP.Current.ColorArray})
        Toast.new("check", "Succ to Add to favo")
    })

    document.addEventListener("RGP_NewGradients", function () {
        let LinearGradient = RGP.Current.LinearGradient;
        document.querySelector("main").style.backgroundImage = LinearGradient;
        document.querySelector("div.intro > code").innerHTML = `background-image: ${LinearGradient};`;
    })
    document.addEventListener("RGP_NewDegree", function () {

        //RGP.CurrentDegree

        RGP.Current.LinearGradient = `linear-gradient(${RGP.CurrentDegree}deg, ${RGP.Current.ColorArray.toFormattedString()})`;

        let LinearGradient = RGP.Current.LinearGradient;

        document.querySelector("main").style.backgroundImage = LinearGradient;
        document.querySelector("div.intro > code").innerHTML = `background-image: ${LinearGradient};`;
    })
</script>

<style lang="scss">
    main {
        height: 100vh;
        width: 100%;
        flex-wrap: wrap;

        background-image: linear-gradient(45deg, #91e9c3, #eaaa8e);

        div {
            width: 100%;
        }

        div.intro {
            text-align: center;
            text-shadow: #000 0 0px 4px;
        }
    }
</style>