---
import Footer from "@components/Footer.astro"
---


<main>
    <div data-role="placeholder"></div>
    <div class="intro">
        <h2>Coriander</h2>
        <h3>Yet another Random Gradients Picker</h3>
        <code>background-image: linear-gradient(45deg, #91e9c3, #eaaa8e);</code>
    </div>
    <Footer />
</main>

<script lang="javascript">
    window.RGP = {};
    RGP.Current = {
            ColorArray: ["#91e9c3", "#eaaa8e"],
            LinearGradient: "linear-gradient(45deg, #91e9c3, #eaaa8e)"
        };
    RGP.gen = function (ColorCount, degree) {
        // document.querySelector("span#ProcessTotal").innerHTML = ColorCount;

        let ColorArray = [];
        for (let i = 0; i < ColorCount; i++) {
            ColorArray[i] = "#" + Math.floor( Math.random() * 0xffffff ).toString(16);
            // document.querySelector("span#ProcessNow").innerHTML = i;
        }
        // document.querySelector("span#ProcessNow").innerHTML = ColorCount;

        return {
            ColorArray: ColorArray,
            LinearGradient: `linear-gradient(${degree || 0}deg, ${ColorArray.toFormattedString()})`
        };
    }

    Array.prototype.toFormattedString = function () {
        return this.toString().replace(/,/gi, "\, ")
    }
</script>


<style lang="scss">
    main {
        height: 100vh;
        width: 100%;
        flex-wrap: wrap;

        background-image: linear-gradient(45deg, #91e9c3, #eaaa8e);

        div {
            width: 100%;
        }

        div.intro {
            text-align: center;
            text-shadow: #000 0 0px 4px;
        }
    }
</style>