---
import { Icon } from "astro-icon";

import Settings from "@components/settings.astro"
import ColorUsed from "@components/ColorUsed.astro";
import Preview from "@components/preview.astro";
---
<div class="intro">
    <div class="main">
        <h1>Coriander</h1>
        <h3>Yet another *random* gradients picker.</h3>
        <div class="code">
            <code>background-image: linear-gradient(45deg, #164eac, #2f6d2e);</code>
            <button data-role="copy"><Icon name="heroicons:document-duplicate" /></button>
            <button data-role="add"><Icon name="heroicons:star" /></button>
        </div>
        <button data-role="gen"><Icon name="heroicons:arrow-path" />&nbsp;Gen</button>
    </div>
    <Settings />
    <ColorUsed />
    <Preview />
    
</div>

<style lang="scss">
    div.intro {
        width: 85%;
        max-width: 1200px;
        margin: auto;

        .main {
            background-image: linear-gradient(45deg, #164eac, #2f6d2e);
            width: 100%;
            border-radius: 12px;
            padding: 75px 0;
            text-align: center;

            border-radius: 12px;
            border-width: 1px;
            border-color: #424242;
            border-style: solid;
            
            > h1, > h3 {
                text-shadow: rgba(0, 0, 0, 0.9487) 0 0 24px;
            }
            > .code {
                margin: 10px 0;
                > button {
                    padding: 10px 12px;
                    border-radius: 6px;
                }
                > * {
                    margin: 0px 2px;
                }
            }

        }
    }
</style>




<script lang="javascript">
    let CopyBtn = document.querySelector("div.intro button[data-role=\"copy\"]"),
        AddBtn = document.querySelector("div.intro button[data-role=\"add\"]");

    CopyBtn.addEventListener("click", function () {
        if (!navigator.clipboard) {
            Toast.new("warn", "The navigator.clipboard API couldn't be found.")
            return;
        }
        navigator.clipboard.writeText(document.querySelector("div.intro code").innerText)
            .then(function () {
                Toast.new("check", "Succ to Copy CSS Code")
            })
            .catch(function (err) {
                Toast.new("error", "Error in copying text.")
            });
    })

    AddBtn.addEventListener("click", function () {
        Coriander.Push2DB({Degree: Coriander.CurrentDegree, ColorArray: Coriander.Current.ColorArray})
        Toast.new("check", "Succ to Add to favo")
    })



    document.querySelector("div.intro button[data-role=\"gen\"]").addEventListener("click", function () {
        Coriander.run (
            document.querySelector("input#ColorCount").value,
            document.querySelector("input#degree").value
        )
    })

    document.addEventListener("Coriander_NewGradients", function () {
        let LinearGradient = Coriander.Current.LinearGradient;
        document.querySelector(".intro > .main").style.backgroundImage = LinearGradient;
        document.querySelector("div.intro code").innerHTML = `background-image: ${LinearGradient};`;
    })
    document.addEventListener("Coriander_NewDegree", function (event) {
        Coriander.Current.LinearGradient = `linear-gradient(${event.detail.angle}deg, ${Coriander.Current.ColorArray.toFormattedString()})`;

        let LinearGradient = Coriander.Current.LinearGradient;

        document.querySelector(".intro > .main").style.backgroundImage = LinearGradient;
        document.querySelector("div.intro code").innerHTML = `background-image: ${LinearGradient};`;
    })
</script>
