---
---

<div class="Previews">
    <h1>Previews</h1>
    <div>
        <div class="PreviewBG gradient">
            <span class="PreviewBlock white"></span>
        </div>
        <p>As background (with a white block)</p>
    </div>
    <div>
        <div class="PreviewBG gradient">
            <span class="PreviewBlock black"></span>
        </div>
        <p>As background (with a black block)</p>
    </div>
    <div>
        <div class="PreviewBG white">
            <span class="PreviewBlock gradient"></span>
        </div>
        <p>As block (with a white background)</p>
    </div>
    <div>
        <div class="PreviewBG black">
            <span class="PreviewBlock gradient"></span>
        </div>
        <p>As block (with a black background)</p>
    </div>
</div>

<style lang="scss">
    div.Previews {
        > div {
            text-align: center;
            display: inline-block;
            width: 45%;
            margin: 0 1.5%;
            margin-bottom: 24px;
            > .PreviewBG {
                padding: 16px 12px;

                border-radius: 6px;
                border-style: solid;
                border-width: 1px;
                border-color: #808080;

                background-image: linear-gradient(45deg, #164eac, #2f6d2e);

                &.white {
                    background-image: none;
                    background-color: #f8f8ff;
                }
                &.black {
                    background-image: none;
                    background-color: #1f1f1f;
                }   

                > .PreviewBlock {
                    display: inline-block;
                    border-radius: 10px;
                    height: 16px;
                    width: 75%;
                    max-width: 320px;
                    box-shadow: 1px 1px 10px 0px #4a4a4a;

                    background-image: linear-gradient(45deg, #164eac, #2f6d2e);

                    &.white {
                        background-image: none;
                        background-color: #f8f8ff;
                    }
                    &.black {
                        background-image: none;
                        background-color: #1f1f1f;
                    }

                }
            }
        }
    }
</style>


<script lang="javascript">
    document.addEventListener("Coriander_NewGradients", function () {
        let LinearGradient = Coriander.Current.LinearGradient,
            Targets = [
                ...document.querySelectorAll(".PreviewBG.gradient"), 
                ...document.querySelectorAll(".PreviewBlock.gradient")
            ];
        for ( let i=0; i<Targets.length; i++ ) {
            Targets[i].style.backgroundImage = LinearGradient;
        }
    })

    document.addEventListener("Coriander_NewDegree", function (event) {
        Coriander.Current.LinearGradient = `linear-gradient(${event.detail.angle}deg, ${Coriander.Current.ColorArray.toFormattedString()})`;

        let LinearGradient = Coriander.Current.LinearGradient,
            Targets = [
                ...document.querySelectorAll(".PreviewBG.gradient"), 
                ...document.querySelectorAll(".PreviewBlock.gradient")
            ];
        for ( let i=0; i<Targets.length; i++ ) {
            Targets[i].style.backgroundImage = LinearGradient;
        }
    })
</script>
