---

import IconRefersh from "@icons/arrows-rotate.astro"

---
<div class="settings">
    <h3>Settings</h3>
    <input id="degree" type="number" placeholder="Degree" />
    <input id="ColorCount" type="number" placeholder="Color Count" />
    <br/><br/>
    <button><IconRefersh/>&nbsp;Gen</button>
</div>

<script lang="javascript">
    document.querySelector("input#ColorCount").value = "2";
    document.querySelector("input#degree").value = "45";

    document.querySelector("div.settings > button").onclick = function () {
        let ColorCount = document.querySelector("input#ColorCount").value;
        let degree = document.querySelector("input#degree").value;
        let Gradient = RGP.gen(ColorCount, degree);
        document.querySelector("main").style.backgroundImage = Gradient;
    }
</script>


<style lang="scss">
    div.settings {
        width: 75%;
        border-radius: 15px;
        background-color: rgba(0,0,0,0.6);
        padding: 12px 14px;
        margin: 0 auto;

        text-align: center;
    }
</style>