---
import "@assets/css/base.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Yet another Random Gradients Picker" />
		<meta name="author" content="kobe koto" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<title>Random Gradients Picker - koto's Persents</title>
	</head>
	<body>
			<slot />
	</body>
</html>
